/**
 * @file SiderMenu.scss
 * @author denglingbo
 */

.ant-menu-item {
    padding-left: 42px !important;
}

.ant-menu-submenu-title {
    padding-left: 20px !important;

    .anticon {
        transition: font-size .3s;
    }
}
