#root {
    height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(150, 150, 150, 0.5);
}
