.test-content {
    width: 300px;
    height: 200px;
    background: #ccc;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.warp {
    position: relative;
    overflow: hidden;
}
.box {
    display: inline;
    float: left;
    width: 200px;
    background: #666;
    margin: 10px;
    padding: 10px;
    padding-bottom: 200px;
    margin-bottom: -200px;

    &2 {
        visibility: collapse;
    }
}